.admin{

padding:80px 8%;

background:#f5f5f5;

min-height:100vh;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin:40px 0;

}

.admin-card{

background:white;

padding:30px;

text-align:center;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.admin-card h2{

font-size:40px;

color:#f4b400;

}

.add-btn{

display:inline-block;

padding:14px 30px;

background:#101828;

color:white;

border-radius:30px;

text-decoration:none;

margin-bottom:30px;

}

table{

width:100%;

background:white;

border-collapse:collapse;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

table th{

background:#101828;

color:white;

padding:15px;

}

table td{

padding:15px;

border-bottom:1px solid #ddd;

}

.add-package{

max-width:700px;

margin:80px auto;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.add-package input,
.add-package textarea{

width:100%;

padding:15px;

margin:15px 0;

border:1px solid #ddd;

border-radius:10px;

}

.add-package button{

width:100%;

padding:15px;

background:#f4b400;

border:none;

font-size:18px;

font-weight:bold;

border-radius:40px;

cursor:pointer;

}