<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sharma Travels</title>

    <link rel="stylesheet"

        href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<header>

<nav class="navbar">

<a href="{{ url_for('home') }}" class="logo">

<span>Sharma</span> Travels

</a>

<ul class="nav-links">

<li><a href="{{ url_for('home') }}">Home</a></li>

<li><a href="{{ url_for('package') }}">Packages</a></li>

<li><a href="{{ url_for('destination') }}">Destinations</a></li>

<li><a href="{{ url_for('about') }}">About</a></li>

<li><a href="{{ url_for('booking') }}">Booking</a></li>

<li><a href="{{ url_for('contact') }}">Contact</a></li>

{% if session.get("user_id") %}

<li>
<a class="book-btn" href="{{ url_for('logout') }}">

Logout

</a>

</li>

{% else %}

<li>

<a class="login-btn" href="{{ url_for('login') }}">

Login

</a>

</li>

<li>

<a class="register-btn" href="{{ url_for('register') }}">

Register

</a>

</li>

{% endif %}

</ul>

</nav>

</header>

{% block content %}

{% endblock %}

<footer>

<div class="footer-container">

<div>

<h2>Sharma Travels</h2>

<p>
Trusted Travel Partner for International Tours,
Visa Assistance and Holiday Packages.
</p>

</div>

<div>

<h3>Quick Links</h3>

<a href="/">Home</a>

<a href="/package">Packages</a>

<a href="/contact">Contact</a>

<a href="/about">About</a>

</div>

<div>

<h3>Contact</h3>

<p>📍Sharma Travels,Old Post Office Road.<br> Phagwara, Punjab.</p>

<p>📞 +91 01824-358008</p>

<p>✉ info@sharmatravelsphagwara@gmail.com</p>

</div>

</div>

<div class="copyright">

© 2026 Sharma Travels. All Rights Reserved.

</div>

</footer>

<a class="whatsapp"
href="https://wa.me/919876543210">

<i class="fab fa-whatsapp"></i>

</a>

</body>

</html>