{% extends "base.html" %}

{% block content %}

<!-- DESTINATIONS -->

<section class="destinations">

    <div class="section-title">

        <span>Popular Destinations</span>
         <h2>Choose Your Next Adventure</h2>

        <p>
            Discover amazing destinations with affordable tour packages.
        </p>

    </div>

    <div class="destination-grid">

        <div class="card dubai">
            <div class="overlay">
                <small>UAE</small>
                <h3>Dubai</h3>
                <p>Luxury shopping, Burj Khalifa and desert safari.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>

        <div class="card Canada">
            <div class="overlay">
                <small>Vancouver</small>
                <h3>Canada</h3>
                <p>British Columbia, Stunning coastal seaport.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>

        <div class="card thailand">
            <div class="overlay">
                <small>Thailand</small>
                <h3>Bangkok</h3>
                <p>Nightlife, islands and delicious street food.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>

        <div class="card singapore">
            <div class="overlay">
                <small>Singapore</small>
                <h3>Singapore</h3>
                <p>Gardens by the Bay and Marina Bay Sands.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>

        <div class="card europe">
            <div class="overlay">
                <small>Europe</small>
                <h3>Switzerland</h3>
                <p>Snow mountains, lakes and scenic rail journeys.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>

        <div class="card maldives">
            <div class="overlay">
                <small>Maldives</small>
                <h3>Maldives</h3>
                <p>Luxury water villas and crystal-clear beaches.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>
        <div class="card paris">
            <div class="overlay">
                <small>Paris</small>
                <h3>Paris</h3>
                <p>The largest city and Efial tower.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>
        <div class="card Toronto">
            <div class="overlay">
                <small>Toronto</small>
                <h3>Toronto</h3>
                <p>Luxury and Morden life & treditions.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>
        <div class="card italy">
            <div class="overlay">
                <small>Italy</small>
                <h3>Italy</h3>
                <p>Experience the wonders of the nature.</p>
                <a href="/contact">Book Now →</a>
            </div>
        </div>


    </div>

</section>
{% endblock %}