{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

<section class="auth-section">

<div class="overlay"></div>

<div class="auth-box">

<h2>Create Account</h2>

<p>Start your next adventure with us.</p>

{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<form method="POST">

<div class="input-group">
<input type="text" name="name" placeholder="Full Name" required>
</div>

<div class="input-group">
<input type="email" name="email" placeholder="Email Address" required>
</div>

<div class="input-group">
<input type="password" name="password" placeholder="Password" required>
</div>

<button type="submit" class="btn-auth">s
Create Account
</button>

</form>

<div class="bottom-link">
Already have an account?
<a href="{{ url_for('login') }}">Login Here</a>
</div>

</div>

</section>

{% endblock %}